@charset "UTF-8";

body{
	color: #73879c;
	overflow: hidden;
}
.left_col {
	background: #2A3F54;
	overflow-x: hidden;
}
h2{
	font-size:18px;
}

.nav-sm .container.body .col-md-3.left_col {
	min-height: 100%;
	width: 70px;
	padding: 0;
	z-index: 9999;
	position: absolute;
}

.nav-sm .container.body .col-md-3.left_col.menu_fixed {
	position: fixed;
	height: 100%;
}

.nav-sm .container.body .col-md-3.left_col .mCSB_container, .nav-sm .container.body .col-md-3.left_col .mCustomScrollBox
	{
	overflow: visible;
}

.nav-sm .hidden-small {
	visibility: hidden;
}

.nav-sm .container.body .right_col {
	padding: 10px 20px;
	margin-left: 70px;
	z-index: 2;
}

.nav-sm .navbar.nav_title {
	width: 70px;
}

.nav-sm .navbar.nav_title a span {
	display: none;
}

.nav-sm .navbar.nav_title a i {
	font-size: 27px;
	margin: 13px 0 0 3px;
}

.site_title i {
	border: 1px solid #EAEAEA;
	padding: 5px 6px;
	border-radius: 50%;
}
.nav-md span.nav-title-tip{
	color: #ddd;
    font-size: 10px;
    font-weight: normal;
    opacity: 0.2;
    padding-left: 40px;
}
span.zone-tip{
	color: #ddd;
    font-size: 9px;
    opacity: 0.8;
}
span.zone-tip2{
	color: #3498DB;
    font-size: 9px;
    opacity: 0.6;
}

.nav-sm span.nav-title-tip{
	display:none;
}

.nav-sm .main_container .top_nav {
	display: block;
	margin-left: 70px;
	z-index: 2;
}


.nav-sm .nav.side-menu li a {
	text-align: center !important;
	font-weight: 400;
	font-size: 10px;
	padding: 10px 5px;
}

.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
	border-right: 5px solid #1ABB9C;
}

.nav-sm ul.nav.child_menu ul, .nav-sm .nav.side-menu li.active-sm ul ul
	{
	position: static;
	width: 200px;
	background: none;
}

.nav-sm>.nav.side-menu>li.active-sm>a {
	color: #1ABB9C !important;
}

.nav-sm .nav.side-menu li a i.toggle-up {
	display: none !important;
}

.nav-sm .nav.side-menu li a i {
	font-size: 25px !important;
	text-align: center;
	width: 100% !important;
	margin-bottom: 5px;
}

.nav-sm ul.nav.child_menu {
	left: 100%;
	position: absolute;
	top: 0;
	width: 210px;
	z-index: 4000;
	background: #3E5367;
}

.nav-sm ul.nav.child_menu li {
	padding: 0 10px;
}

.nav-sm ul.nav.child_menu li a {
	text-align: left !important;
}

.nav-sm .profile {
	display: none;
}

.menu_section {
	margin-bottom: 35px;
}

.menu_section h3 {
	padding-left: 23px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .5px;
	font-weight: bold;
	font-size: 11px;
	margin-bottom: 0;
	margin-top: 0;
	text-shadow: 1px 1px #000;
}

.menu_section>ul {
	margin-top: 10px;
}

.profile_pic {
	width: 35%;
	float: left;
}

.img-circle.profile_img {
	width: 70%;
	background: #fff;
	margin-left: 15%;
	z-index: 1000;
	position: inherit;
	margin-top: 20px;
	border: 1px solid rgba(52, 73, 94, 0.44);
	padding: 4px;
}

.profile_info {
	padding: 25px 10px 10px;
	width: 65%;
	float: left;
}

.profile_info span {
	font-size: 13px;
	line-height: 30px;
	color: #BAB8B8;
}

.profile_info h2 {
	font-size: 14px;
	color: #ECF0F1;
	margin: 0;
	font-weight: 300;
}

.profile.img_2 {
	text-align: center;
}

.profile.img_2 .profile_pic {
	width: 100%;
}

.profile.img_2 .profile_pic .img-circle.profile_img {
	width: 50%;
	margin: 10px 0 0;
}

.profile.img_2 .profile_info {
	padding: 15px 10px 0;
	width: 100%;
	margin-bottom: 10px;
	float: left;
}

.profile_pic i.iconfont{
	font-size:44px;
	margin-top:20px;
	margin-left:25px;
}

.main_menu span.iconfont {
	float: right;
	text-align: center;
	margin-top: 5px;
	font-size: 10px;
	min-width: inherit;
	margin-right: 8px;
}

.active a span.iconfont {
	text-align: right !important;
	margin-right: 4px;
}

.nav-sm .menu_section {
	margin: 0;
}

.nav-sm span.iconfont, .nav-sm .menu_section h3 {
	display: none;
}

.nav-sm li li span.iconfont {
	display: inline-block;
}

.nav_menu {
	float: left;
	background: #EDEDED;
	border-bottom: 1px solid #D9DEE4;
	width: 100%;
	position: relative;
	height:55px;
}

@media ( min-width : 480px) {
	.nav_menu {
		position: static;
	}
}

.nav-md .container.body .col-md-3.left_col {
	min-height: 100%;
	width: 230px;
	padding: 0;
	position: absolute;
	display: -ms-flexbox;
	display: flex;
	z-index: 1;
}

.nav-md .container.body .col-md-3.left_col.menu_fixed {
	height: 100%;
	position: fixed;
}

body .container.body .right_col {
	background: #F7F7F7;
}

.nav-md .container.body .right_col {
	padding: 10px 20px 0;
	margin-left: 230px;
}

.nav_title {
	width: 230px;
	float: left;
	background: #2A3F54;
	border-radius: 0;
	height: 57px;
}

@media ( max-width : 991px) {
	.nav-md .container.body .right_col, .nav-md .container.body .top_nav {
		width: 100%;
		margin: 0;
	}
	.nav-md .container.body .col-md-3.left_col {
		display: none;
	}
	.nav-md .container.body .right_col {
		width: 100%;
		padding-right: 0;
	}
	.right_col {
		padding: 10px !important;
	}
}

@media ( max-width : 1200px) {
	.x_title h2 {
		width: 62%;
		font-size: 17px;
	}
	.tile, .graph {
		zoom: 85%;
		height: inherit;
	}
}

@media ( max-width : 1270px) and (min-width: 192px) {
	.x_title h2 small {
		display: none;
	}
}

.left_col .mCSB_scrollTools {
	width: 6px;
}

.left_col .mCSB_dragger {
	max-height: 400px !important;
}

/**  ------------------------------------------  **/
.blue {
	color: #3498DB;
}

.purple {
	color: #9B59B6;
}
.gold{
	color:#FFDF00
}
.green {
	color: #4cae4c;
}
.white{
	color:#fdfbfb;
}

.aero {
	color: #9CC2CB;
}

.red {
	color: #E74C3C;
}

.dark {
	color: #34495E;
}
.yellow{
	color:#F3FA28;
}
.folder-color{
	color:#F7E986;
}

.border-blue {
	border-color: #3498DB !important;
}

.border-purple {
	border-color: #9B59B6 !important;
}

.border-green {
	border-color: #1ABB9C !important;
}

.border-aero {
	border-color: #9CC2CB !important;
}

.border-red {
	border-color: #E74C3C !important;
}

.border-dark {
	border-color: #34495E !important;
}

.bg-white {
	background: #fff !important;
	border: 1px solid #fff !important;
	color: #73879C;
}

.bg-green {
	background: #1ABB9C !important;
	border: 1px solid #1ABB9C !important;
	color: #fff;
}

.bg-red {
	background: #E74C3C !important;
	border: 1px solid #E74C3C !important;
	color: #fff;
}

.bg-blue {
	background: #3498DB !important;
	border: 1px solid #3498DB !important;
	color: #fff;
}

.bg-orange {
	background: #F39C12 !important;
	border: 1px solid #F39C12 !important;
	color: #fff;
}

.bg-purple {
	background: #9B59B6 !important;
	border: 1px solid #9B59B6 !important;
	color: #fff;
}

.bg-blue-sky {
	background: #50C1CF !important;
	border: 1px solid #50C1CF !important;
	color: #fff;
}

.container {
	width: 100%;
	padding: 0;
}

.navbar-nav>li>a, .navbar-brand, .navbar-nav>li>a {
	color: #fff !important;
}

.top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover, .top_nav .nav .open>a,
	.top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover {
	background: #D9DEE4;
}

.main_container .top_nav {
	display: block;
	margin-left: 230px;
}

.no-padding {
	padding: 0 !important;
}

.page-title {
	width: 100%;
	height: 65px;
	padding: 10px 0;
}

.page-title .title_left {
	width: 45%;
	float: left;
	display: block;
}

.page-title .title_left h3 {
	margin: 9px 0;
}

.page-title .title_right {
	width: 55%;
	float: left;
	display: block;
}

.page-title .title_right .pull-right {
	margin: 10px 0;
}

.progress-bar-dark {
	background-color: #34495E !important;
}

.progress-bar-gray {
	background-color: #BDC3C7 !important;
}

table.no-margin .progress {
	margin-bottom: 0;
}

.main_content {
	padding: 10px 20px;
}

.col-md-55 {
	width: 50%;
	margin-bottom: 10px;
}

@media ( min-width : 768px) {
	.col-md-55 {
		width: 20%;
	}
}

@media ( min-width : 992px) {
	.col-md-55 {
		width: 20%;
	}
}

@media ( min-width : 1200px) {
	.col-md-55 {
		width: 20%;
	}
}

@media ( min-width : 192px) and (max-width: 1270px) {
	table.tile_info span.right {
		margin-right: 7px;
		float: left;
	}
}

.center-margin {
	margin: 0 auto;
	float: none !important;
}
.grid_slider .col-md-6 {
	padding: 0 40px;
}

h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
	color: #5A738E;
	text-decoration: none;
	cursor: pointer;
}

a, a:visited, a:focus, a:active, :visited, :focus, :active, .btn:focus,
	.btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus,
	.btn.active.focus {
	outline: 0;
}

a:hover, a:focus {
	text-decoration: none;
}

.navbar {
	margin-bottom: 0;
}

.navbar-header {
	background: #34495E;
}

.navbar-right {
	margin-right: 0;
}

.top_nav .navbar-right {
	margin: 0;
	width: 70%;
	float: right;
}

.top_nav .navbar-right li {
	display: inline-block;
	float: right;
	position: static;
}

@media ( min-width : 480px) {
	.top_nav .navbar-right li {
		position: relative;
	}
}

.top_nav .dropdown-menu li {
	width: 100%;
}

.top_nav .dropdown-menu li a {
	width: 100%;
	padding: 12px 20px;
}

.top_nav li a i {
	font-size: 20px;
}

.navbar-static-top {
	position: fixed;
	top: 0;
	width: 100%;
}

.sidebar-header {
	border-bottom: 0;
	margin-top: 46px;
}

.sidebar-header:first-of-type {
	margin-top: 0;
}

.dropdown-menu > li > a {
    color: #5a738e;
}

.nav.side-menu>li {
	position: relative;
	display: block;
	cursor: pointer;
}

.nav.side-menu>li>a {
	margin-bottom: 6px;
}

.nav.side-menu>li>a:hover {
	color: #F2F5F7 !important;
}

.nav.side-menu>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background: transparent;
}

.nav.child_menu {
	animation: 0.5s ease-in-out 0s normal none 1 running showAnimation;
}

.nav.child_menu li:hover, .nav.child_menu li.active {
	background-color: rgba(255, 255, 255, 0.06);
}

.nav.child_menu li {
	padding-left: 36px;
}

.nav-md ul.nav.child_menu li:before {
	background: #425668;
	bottom: auto;
	content: "";
	height: 8px;
	left: 23px;
	margin-top: 15px;
	position: absolute;
	right: auto;
	width: 8px;
	z-index: 1;
	border-radius: 50%;
}

.nav-md ul.nav.child_menu li:after {
	border-left: 1px solid #425668;
	bottom: 0;
	content: "";
	left: 27px;
	position: absolute;
	top: 0;
}

.nav.side-menu>li>a, .nav.child_menu>li>a {
	color: #E7E7E7;
	font-weight: 500;
}

.nav.child_menu li li:hover, .nav.child_menu li li.active {
	background: none;
}

.nav.child_menu li li a:hover, .nav.child_menu li li a.active {
	color: #fff;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 13px 15px 12px;
}

.nav.side-menu>li.current-page, .nav.side-menu>li.active {
	border-right: 5px solid #E74C3C;
}

.nav li.current-page {
	background: rgba(255, 255, 255, 0.05);
}

.nav li li li.current-page {
	background: none;
}

.nav li li.current-page a {
	color: #fff;
}

.nav.side-menu>li.active>a {
	text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
	background: linear-gradient(#334556, #2C4257), #2A3F54;
	box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16)
		0 1px 0;
}

.navbar-brand, .navbar-nav>li>a {
	font-weight: 500;
	color: #ECF0F1 !important;
	margin-left: 0 !important;
	line-height: 32px;
}

.site_title {
	text-overflow: ellipsis;
	overflow: hidden;
	font-weight: 400;
	font-size: 20px;
	width: 100%;
	color: #ECF0F1 !important;
	line-height: 35px;
	display: block;
	height: 35px;
	text-align:center;
}

.site_title:hover, .site_title:focus {
	text-decoration: none;
}

.nav.navbar-nav>li>a {
	color: #515356 !important;
}

.nav.top_menu>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
	color: #34495E !important;
}

.nav>li>a:hover, .nav>li>a:focus {
	background-color: transparent;
}

.toggle {
	float: left;
	margin: 0;
	padding-top: 16px;
	width: 70px;
}

.toggle a {
	padding: 15px 15px 0;
	margin: 0;
	cursor: pointer;
}

.toggle a i {
	font-size: 26px;
}

.nav.child_menu>li>a {
	color: rgba(255, 255, 255, 0.75);
	font-size: 12px;
	padding: 9px;
}

.panel_toolbox {
	float: right;
	min-width: 70px;
}

.panel_toolbox>li {
	float: left;
	cursor: pointer;
}

.panel_toolbox>li>a {
	padding: 5px;
	color: #C5C7CB;
	font-size: 14px;
}

.panel_toolbox>li>a:hover {
	background: #F5F7FA;
}

.line_30 {
	line-height: 30px;
}

.main_menu_side {
	padding: 0;
}

.bs-docs-sidebar .nav>li>a {
	display: block;
	padding: 4px 6px;
}

/* *********  custom accordion  **************************** */
*, *:before, *:after {
	box-sizing: border-box;
}


/** Contacts **/
.profile_details:nth-child(3n) {
	clear: both;
}

.profile_details .profile_view {
	display: inline-block;
	padding: 10px 0 0;
	background: #fff;
}

.profile_details .profile_view .divider {
	border-top: 1px solid #e5e5e5;
	padding-top: 5px;
	margin-top: 5px;
}

.profile_details .profile_view .ratings {
	margin-bottom: 0;
}

.profile_details .profile_view .bottom {
	background: #F2F5F7;
	padding: 9px 0;
	border-top: 1px solid #E6E9ED;
}

.profile_details .profile_view .left {
	margin-top: 20px;
}

.profile_details .profile_view .left p {
	margin-bottom: 3px;
}

.profile_details .profile_view .right {
	margin-top: 0px;
	padding: 10px;
}

.profile_details .profile_view .img-circle {
	border: 1px solid #E6E9ED;
	padding: 2px;
}

.profile_details .profile_view h2 {
	margin: 5px 0;
}

.profile_details .profile_view .ratings {
	text-align: left;
	font-size: 16px;
}

.profile_details .profile_view .brief {
	margin: 0;
	font-weight: 300;
}

.profile_details .profile_left {
	background: white;
}

.clear {
	clear: both;
}

/* ***** buttons ********/
.btn {
	border-radius: 3px;
}
a.btn-success, a.btn-primary, a.btn-warning, a.btn-danger {
	color: #fff;
}

.btn-round {
	border-radius: 30px;
}

.btn.btn-app {
	position: relative;
	padding: 15px 5px;
	margin: 0 0 10px 10px;
	min-width: 80px;
	height: 60px;
	box-shadow: none;
	border-radius: 0;
	text-align: center;
	color: #666;
	border: 1px solid #ddd;
	background-color: #fafafa;
	font-size: 12px;
}

.btn.btn-app>.fa, .btn.btn-app>.glyphicon, .btn.btn-app>.ion {
	font-size: 20px;
	display: block;
}

.btn.btn-app:hover {
	background: #f4f4f4;
	color: #444;
	border-color: #aaa;
}

.btn.btn-app:active, .btn.btn-app:focus {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.btn-app>.badge {
	position: absolute;
	top: -3px;
	right: -10px;
	font-size: 10px;
	font-weight: 400;
}

/* *********  /widgets  **************************** */
.divider {
	border-bottom: 1px solid #ddd;
	margin: 10px 0;
	clear: both;
}

.divider-dashed {
	border-top: 1px dashed #e7eaec;
	background-color: #ffffff;
	height: 1px;
	margin: 10px 0;
}

.animate {
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	-o-animation-duration: 0.5s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;
	-ms-animation-duration: 0.5s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

/** /FullCalendar **/
/** Dropzone.js **/
.dropzone {
	min-height: 300px;
	border: 1px solid #e5e5e5;
}
div.destination.row >div.city{
	text-align:center;
	border:1px dotted #73879C;
	margin:10px;
}
div.destination.row >div.city.disable{
	background-color: #ddd;
	opacity:0.55;
}
div.destination.row > div.city:hover{
	background-color: #D9DEE4;
	cursor: pointer;
}
div.departure > div.city{
	border-radius:2px;
	text-align:center;
	border:1px dotted #73879C;
	margin:10px;
	cursor: pointer;
	padding-left: 0;
    padding-right: 0;
}
div.departure > div.city:hover{
	opacity:0.7;
}
div.table-title{
	color:#ddd;
}
div.row.transport{
	margin-bottom:10px;
}
div.modal-transport{
	max-height:400px;
	overflow-y:auto;
}
div.table-title.col-md-6{
	text-align:right;
}
div.form-group label.control-label.register{
	text-align:left;
	padding-left:0px;
}



/* ==== editable-form ==== */

/* class for single editable element */
.editable-wrap {
  display: inline-block;
  white-space: pre;
  margin: 0;
}

/* remove bottom-margin for bootstrap */
.editable-wrap .editable-controls,
.editable-wrap .editable-error {
  margin-bottom: 0;
}

/* remove bottom-margin of inputs */
.editable-wrap .editable-controls > input,
.editable-wrap .editable-controls > select,
.editable-wrap .editable-controls > textarea {
  margin-bottom: 0;
}

/* keep buttons on the same line */
.editable-wrap .editable-input {
  display: inline-block;
}

.editable-buttons {
  display: inline-block;
  vertical-align: middle;
}

.editable-buttons button {
  margin-left: 5px;
}

/* in bootstrap width: 100% => buttons go outside the box */
.editable-input.editable-has-buttons {
  width: auto;
}

/* ==== editable-text ==== */

/* fix padding issue on typeahead */
.editable-text {
    white-space: nowrap;
}

/* ==== editable-bsdate ==== */

/* fix padding issue on bsdate popup */
.editable-bsdate {
    white-space: nowrap;
}

/* ==== editable-bstime ==== */

/* fix padding issue on bstime */
.editable-bstime {
    white-space: nowrap;
}

/* workaround for bootstrap that sets width: 100% and inputs become too wide */
.editable-bstime .editable-input input[type="text"] {
  width: 46px;
}

/* less padding for .well */
.editable-bstime .well-small {
  margin-bottom: 0;
  padding: 10px;
}

/* ==== editable-range ==== */

.editable-range output {
  display: inline-block;
  min-width: 30px;
  vertical-align: top;
  text-align: center;
}

/* ==== editable-color ==== */

.editable-color input[type="color"] {
  width: 50px;
}


/* ==== editable-checkbox ==== */
/* ==== editable-checklist ==== */
/* ==== editable-radiolist ==== */

.editable-checkbox label span,
.editable-checklist label span,
.editable-radiolist label span {
  margin-left: 7px;
  margin-right: 10px;
}

/* ==== element ==== */

/* hiding element */
.editable-hide {
  display: none !important;
}

.editable-click:hover, 
a.editable-click:hover {
  text-decoration: none;
  color: #2a6496;
  border-bottom-color: #2a6496;
}

/* editable-empty */
.editable-empty, 
.editable-empty:hover, 
.editable-empty:focus,
a.editable-empty, 
a.editable-empty:hover, 
a.editable-empty:focus {
  font-style: italic; 
  color: #E74C3C;  
  text-decoration: none;
}

/* editable popover */
.popover-wrapper > a {
  /* make the link always show up */
  display: inline !important;
}

.popover-wrapper {
  /* make absolutely positioned children constrained to this box*/
  display: inline;
  position: relative;
}

.popover-wrapper form {
  position: absolute;
  top: -53px;
  background: #FFF;
  border: 1px solid #AAA;
  border-radius: 5px;
  padding: 7px;
  width: auto;
  display: inline-block;
  left: 50%;
  z-index: 101;
}

.popover-wrapper form:before {
  content:"";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #AAA;
  position:absolute;
  bottom:-10px;
}

.popover-wrapper form:after {
  content:"";
  width:0;
  height:0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #FFF;
  position:absolute;
  bottom:-9px;
}


@media screen and (max-width: 750px) {
    .popover-wrapper form {
        margin-left: -60px;
    }

    .popover-wrapper form:before {
        left:50px;
    }

    .popover-wrapper form:after {
        left:51px;
    }
}

@media screen and (min-width: 750px) {
    .popover-wrapper form {
        margin-left: -110px;
    }

    .popover-wrapper form:before {
        left:100px;
    }

    .popover-wrapper form:after {
        left:101px;
    }
}

.uib-button-bar {
	display:none;
}

/*! 
 * angular-loading-bar v0.9.0
 * https://chieffancypants.github.io/angular-loading-bar
 * Copyright (c) 2016 Wes Cruver
 * License: MIT
 */

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background-color: #33ba3a;
  position: fixed;
  z-index: 10002;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #29d 1px 0 6px 1px;
  -ms-box-shadow: #29d 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #29d 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.content-header{
	height:40px;
}
.btn-group-right > button{
	margin:0 10px;
}

.canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}
.content-area{
	margin:10px;
}
div.row{
	margin-top:10px;
}
div.btn-group-left button{
	margin-right: 10px;
}
.help-block {
    color: #ddd;
    display: block;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
}

div.depature-edit-save{
	padding-right:60px;
}
div.row div.thumb{
	width:100px;
	height:100px;
	margin:10px;
	text-align:center;
	cursor:pointer;
}
div.thumb img.selected{
	border: 3px solid #E74C3C;
}
div#imageBrowser button {
	font-weight:bold;
}
span.cke_combo_text{
	width:30px;
}
div.message-center{
	text-align:center;
	position:absolute;
	width:500px;
	left:-moz-calc((100% - 500px)/2);
	left:-webkit-calc((100% - 500px)/2);
	left: calc((100% - 500px)/2);
	top:1px;
	
}
a.deleteCategory{
	float:right;
}
a.deleteCategory:hover{
	color:#e74c3c;
}
a.cke_dialog_tab{
	box-sizing:content-box;
}
div.img-scroll{
	height:400px;
	overflow-y:auto;
	margin-right:-10px;
}
div.tab-button-div{
	margin-bottom:10px;	
	margin-left:0px;
	margin-top:5px;
}
button.tab-button{
	background-color: #ffffff;
	color: #000000;
	margin-right: 10px;
}
button.tab-button:hover{
	box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button.tab-button.active-tab{
	background-color: #4caf50;
    border-color: #4caf50;
    color: #ffffff;
}
.traffic-row{
	color: #ddd;
    display: table;
    font-size: 12px;
    text-align: left;
}
span.trafficItem{
	padding:0 2px;
	cursor: pointer;
}
.list-cell-click i.iconfont{
	font-size:22px;
}
.custom-row-data .custom-cell span{
	cursor: pointer;
}
.custom-cell span.star span i{
	font-size:14px;
	color:#FFA500;
}
.custom-cell input.city-fluctuate{
	font-size:10px;
	border:medium none;
    width: 25px;
    text-align:center;
}
div.custom-cell span.selected{
    border-radius: 50%;
    background-color: rgba(189, 39, 39, 0.9);
}
div.main-header-margin .radio-inline, div.main-header-margin .checkbox-inline{
	padding-left:15px;
}
div.column-select{
	cursor: pointer;
    height: 40px;
    line-height: 40px;
}

span.planCreate{
	padding-top:6px;
	display:block;
	padding-left:10px;
	cursor:pointer
}
span.planCreate:hover{
    opacity: 0.6;
}

div.table_title{
	margin: 5px auto;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}

div.table_area{
	margin:0 10px;
	color:#000;
}
div.table_bottom{
	font-size:10px;
	color:#a6a5a6;
	text-align:center;
}
span.branch{
	border-bottom:1px solid #000;
}
label.branch_label{
	padding:10px 20px;
}
/*table area*/

.tg  {border-collapse:collapse;border-spacing:0;width:100%;background-color:#f3f3f3;}
.tg td{font-family:Arial, sans-serif;font-size:13px;padding:5px 3px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:13px;font-weight:normal;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-yw4l{vertical-align: middle;text-align: center;color:#000;}
.tg .tg-yw4l input[type="text"]{
	border: none;
	width:65px;
	text-align:center;
}
.tg .tg-edit{
	background-color:#ffffff;
}
div.edit{
	-webkit-user-select:text;
	-moz-user-select:text;
	-ms-user-select:text;
}
div.edit:empty:before{
    content: attr(placeholder);
    color:#red;
}
div.edit:focus:before{
    content:none;
}
div.hasBottom,span.hasBottomline{
	border-bottom:1px solid #000;
}
div.tdContent{
	text-align:left;
	padding-left:20px;
}
div.tdContent input[type="checkbox"]{
	margin-left:15px;
}
.imgCheck{
	width:20px;
	height:20px;
	margin-bottom: -5px;
	vertical-align: top;
}

.table_area .tg .tg-yw4l.tg-ping {width:50%}
.table_area .tg .tg-yw4l.tg-problem {width:20%}

@media
 print {
    div.table_area select{
        appearance:none;
        -moz-appearance:none;
        -webkit-appearance:none;
        border:none;
    }
    .tg {background-color:#ffffff;table-layout: fixed;}
    .table_area .tg .tg-yw4l.tg-ping {width:40%}
    .table_area .tg .tg-yw4l.tg-problem {width:20%}
    .circle-green {
		width: 10px;
	    height: 10px;
	    background: #34bc6e;
	    border-radius: 50%;
	    float:left;
	}
	.circle-yellow {
		width: 10px;
	    height: 10px;
	    background: #fed500;
	    border-radius: 50%;
	    float:left;
	}
	.circle-red {
		width: 10px;
	    height: 10px;
	    background: #e62325;
	    border-radius: 50%;
	    float:left;
	}
}




