/*
 * Main content
 */
.main {padding: 15px;}
@media (min-width: 768px) {
  .main {
    padding-right: 15px;
    padding-left: 15px;
  }
}
.main .page-header {
  margin-top: 0;
}
/* Main header */
.main-header {
  background: #efeff1;
}
.main-header-margin {
  margin:10px 0;
}
.main-header-sp {
  border-left: 1px solid #ddd;
}
.main-header-sp-right {
  border-right: 1px solid #ddd;
}
/* Main body */
.main-body {
  padding: 20px;
}

/*
 * Login page
 */
.login-container {
  background-color: rgba(200, 249, 250, 0.8);
  background-position: center;
  background-size:cover;
  -moz-background-size:cover;
  -webkit-background-size:cover;
  background-image:url(../img/bj.jpg);
  position:absolute;
  bottom:0;
  right:0;
  top:0;
  left:0;
  min-height:480px;
  margin:0;
}
input[type="text"],input[type="password"],input[type="email"]{
	background-color:transparent;
}
.login-container-body {
  background-size:cover;
  -moz-background-size:cover;
  -webkit-background-size:cover;
  background-color: rgba(200, 249, 250, 0.5);
  position:absolute;
  bottom:0;
  right:0;
  top:0;
  left:0;
  min-height:480px;
  margin:0;

}
.newuser-container{
  background-size:cover;
  -moz-background-size:cover;
  -webkit-background-size:cover;
  background-color: rgba(200, 249, 250, 0.4);
  position:absolute;
  bottom:0;
  right:0;
  top:0;
  left:0;
  min-height:700px;
  margin:0;
}

.login-container-body-box {
  margin-left:auto;
  margin-right:auto;
  margin-top:150px;
  width: 50%;
  min-width:300px;
  
}

.login-container-logo{
  text-align: center;
}
.adminicon{
	font-size:40px;
	color:#c9302c;
}

.login-container-form {
  min-width:300px;
  max-width:400px;
  margin-left:auto;
  margin-right:auto;
}

.login-form-control {
  margin:20px 0;
  border:none;
  border-bottom:1px solid #bcbcbc;
  border-radius:0; 
  box-shadow:none !important;
}
.login-form-control:focus{
  border-width:2px;
}

.login-container-footer {
  position:absolute;
  bottom:20px;
  right:0;
  left:0;
  text-align:center;
  color:#999;
}
.form-control:focus{
  border-color:#4cae4c;
}
.newaccount {
	float:right;
	margin-top:20px;
}
a,.btn-link, .btn-link:hover{
  color: #4cae4c;
  text-decoration: none;
}
.newuser{
	text-align:center;
	font-size:16px;
	margin-bottom:20px;
}
.newuser-box{
	margin-top:50px;
}
.control-label{
	padding-top:7px;
}
.register-form{
	margin:0px;
}
 
.required-column{
	color:#ff2f62;
}
.form-signin .img-rounded{
	margin-bottom:10px;
}
.sub-menu-hide{
	display:none;
}
.sub-menu-show{
	display:block;
	transition: height 0.5s ease-in-out 0s, box-shadow 0.1s linear 0s;
}
.iconfont{
	display: inline-block;
}
.modal-cm{
	margin: 100px auto;
	width:610px;
}
.modal-auto{
	margin: 100px auto;
	width:60%;
}
.modal-cm-upload{
	margin: 80px auto;
	width:700px;
}

.modal-csm{
	margin: 200px auto;
	width:350px;
}
.modal-title{
	text-align:center;
}
.text-center{
	text-align:center;
}

.switch {
  background: #fff;
  border: 1px solid #dfdfdf;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  overflow: visible;
  width: 52px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  top: -1px;
}
/*adding a wide width for larger switch text*/
.switch.wide {
  width:80px;
}
.switch small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
}
.switch.checked {
  background: rgb(100, 189, 99);
  border-color: rgb(100, 189, 99);
}
.switch.checked small {
  left: 22px;
}
/*wider switch text moves small further to the right*/
.switch.wide.checked small {
  left:52px;
}
/*styles for switch-text*/
.switch .switch-text {
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
}

.switch .off {
  display:block;
  position: absolute;
  right: 10%;
  top: 25%;
  z-index: 0;
  color:#A9A9A9;
}

.switch .on {
  display:none;
   z-index: 0;
  color:#fff;
  position: absolute;
  top: 25%;
  left: 9%;
}

.switch.checked .off {
  display:none;
}

.switch.checked .on {
  display:block;

}
.switch.disabled {
  opacity: .50;
  cursor: not-allowed;
}
.change-permission{
	font-size:22px;
}
div.city a.delete-city{
	top:-10px;
	right:-5px;
	position:absolute;
	display:none;
}
div.city:hover a.delete-city{
	display:block;
}
i.iconfont.icon-close.red{
	font-size:20px
}

table.traffic{
	border-collapse: collapse;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;	
}
table.traffic tr td { 
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  	border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    height: 25px;
    text-align:center;
}

table.traffic tr td:first-child { 
    background: #eaeaea none repeat scroll 0 0;
    width:100px;
    max-width: 100px;
}
table.traffic tbody tr:first-child{
	background: #eaeaea none repeat scroll 0 0;
    height:100px;
    width:50px;
}
table.traffic tbody tr:first-child td{
    width:50px;
    max-width: 50px;
    height:100px;   
}
table.traffic tr:not(:first-child) td:first-child:hover { 
    border-bottom: 1px solid #217346;
	background: #ddd none repeat scroll 0 0;
  	color: #515356;
}
table.traffic th{
	background: #eaeaea none repeat scroll 0 0;
  	color: #515356;
  	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
 	border-right: 1px solid rgba(0, 0, 0, 0.2);
 	height: 85px;
 	text-align:center;
}
table.traffic tr:first-child td:hover:not(:first-child){
	border-bottom: 1px solid #217346;
	background: #ddd none repeat scroll 0 0;
  	color: #515356;
}
table.traffic tr td:hover a.edit-title-icon{
	display:block;
}
table.traffic tbody tr {
	background-color: #ffffff;
}
table.traffic tbody tr:hover:not(:first-child) {
	background-color: #E4F5DF;
}
.textCenter{
	line-height:100px;
}

a.edit-title-icon{
	display:none;
	float:right;
}

table.traffic tr td input{
	background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
table.traffic tr td form.editable-text,div.custom-cell form.editable-text{
	background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    letter-spacing: normal;
    line-height: 1.42857;
    padding: 1px;
    text-align: start;
}
 
table.traffic tr td span.editTitle{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
    line-height: 1.42857;
    word-break: break-all;
    word-wrap: break-word;
}
table.traffic tr:first-child td:first-child div{
	background:#eaeaea url("../img/traffic.png") no-repeat center center;
	width:100px;
	height:100px;
	display:block;
}
.clickDiv{
	width:100%;
	height:100%;
}
.clickDiv a.icon-heart{
	font-size:18px;
}
.clickDiv a.icon-heart:hover{
	color:#FC8694;
}
.btn-group-right{
	float:right;
	padding-bottom: 10px;
}
.manage_user{
	width:70%;
	margin-top: 20px;
}
.manage_user div.table-responsive{
	margin-top:20px;
}
div.citySelect{
	background-color:#4cae4c;
	color:#FFFFFF;;
}
.content-header > div{
	display:inline-block;
}
.view-body{
	margin-bottom:20px;
}

.custom-table {
	display: table;
	border-radius: 3px;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.custom-table-header{
	background:#eaeaea none repeat scroll 0 0;
}
.custom-table-header-css3{
	background-color:rgba(255, 0, 0, 0.5);
	color: #efefef;
}
.custom-table-header-css4{
	background-color: #4caf50;
    color: #ffffff;
}
.custom-row-odd{
	background-color:rgba(165,223,242,0.1);
}
.custom-row {
	display:table-row;
}
.row-hover-cyan:hover{
	background-color:rgba(0, 93, 93, 0.1);
}
.custom-cell {
	display: table-cell;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    vertical-align: middle;
}
.custom-cell-css3 {
    border-right: 1px solid rgba(127, 255, 255, 0.55);
    border-bottom: 1px solid rgba(127, 255, 255, 0.55);
}
.custom-cell span i{
	font-size:18px;
}

.custom-cell span.clickArea{
	display:block;
	width:100%;
	cursor: pointer;
}

.custom-cell span.clickArea:hover{
	background-color: #eaeaea;
	opacity:0.4;
}

.custom-row-green{
	background-color:rgba(134,222,240,0.2);
}

.custom-table-image {
	display: table;
	border-left: 1px solid #f2f6fd;
    border-top: 1px solid #f2f6fd;
    background-color: #fff;
    width: 100%;
}
.custom-table-header-image{
	background:#eaeaea none repeat scroll 0 0;
}
.custom-row-image {
	display:table-row;
	height:40px;
	line-height: 40px;
}
.custom-row-image:hover {
	border-bottom: 1px solid #daebfe;
	border-top: 1px solid #daebfe;
	background: #f6faff none repeat scroll 0 0;
}
.custom-cell-image {
	display: table-cell;
    border-bottom: 1px solid #f2f6fd;
    text-align: center;
}
.custom-cell-image span.clickHeader{
	width:100%;
	cursor:pointer;
}
.custom-cell-image span.clickHeader i{
	font-size:15px;
}
.custom-cell-image span.clickArea i{
	font-size:30px;
}

.custom-cell-image span.clickArea{
	display:block;
	width:100%;
	cursor: pointer;
}
.cell-limit-width{
	display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.hack-header{
	overflow-y:scroll;
	position:relative
}

.modal-cm-sm{
	width:300px;
	margin-top:200px;
}
.modal-cm-sm2{
	width:350px;
	margin-top:200px;
}
.modal-cm-plan{
	width:85%;
	margin-top:3%;
}
.modal-cm-user{
    width:65%;
    margin-top:3%;
}
.modal-cm-imagebrowser{
	width:800px;
	margin-top:100px;
}
.modal-body-scroll{
	width:795px;
	height:400px;
	overflow-y:auto;
}
.modal-cm-planlist{
	width:400px;
	margin-top:100px;
}
.modal-planlist-scroll{
	width:395px;
	height:300px;
	overflow-y:auto;
}
.content-area-upload{
	margin:10px;
	padding:0 20px;
}
table.table-upload tbody.upload-item{
	max-height:300px;
	overflow-y:auto;
	display: block;
}
table.table-upload thead,table.table-upload tbody.upload-item tr{
	display:table;
    width:100%;
    table-layout:fixed;
}
.custom-row-empty{
	text-align:center;
	height: 100px;
    line-height: 100px;
}
.alert-upload{
	padding: 8px;
	vertical-align: middle;
}
.mce-menubtn.mce-fixed-width span {
    width: 40px !important;
}

div.tab-content{
	padding-top:10px;
	background-color:#fff;
}
div.tab-content div.form-group{
	margin-bottom:5px;
}
div.departure > div.city.traffic{
	white-space:nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.form-horizontal .control-label.route-tips{
	color:#ddd;
	text-align:left;
}
div.route-date .well{
	margin-bottom: 5px;
}
div.summary{
	margin:10px;
}
div.summary p{
	font-size:14px;
	text-indent:20px;
}
div.summary p.summary_tittle{
    text-align:center;
    font-size:17px;
    font-weight:bold;
}

