<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huiyong.dao.PaperMapper" >

  <resultMap id="PaperResultMap" type="com.huiyong.model.paper.PaperTest" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <collection column="id" property="questions" javaType="ArrayList" ofType="PaperQuestion" select="getQuestions" />
    <collection column="id" property="options" javaType="ArrayList" ofType="PaperOption" select="getOptions" />
  </resultMap>
  <resultMap id="PaperResultMapByIdAndProperty" type="com.huiyong.model.paper.PaperTest" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="property" jdbcType="VARCHAR" />
    <collection column="id" property="options" javaType="ArrayList" ofType="PaperOption" select="getOptions" />
  </resultMap>
   <resultMap id="QuestionResultMap" type="com.huiyong.model.paper.PaperQuestion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="property" property="property" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="OptionResultMap" type="com.huiyong.model.paper.PaperOption" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getPaperById" parameterType="int" resultMap="PaperResultMap">
	select * from PaperTest where id=#{id};
  </select> 
    <select id="getQuestions" parameterType="int" resultMap="QuestionResultMap">
	select * from PaperQuestion where test_id=#{id} order by id;
  </select> 
    <select id="getOptions" parameterType="int" resultMap="OptionResultMap">
	select * from PaperOption where test_id=#{id};
  </select> 
    <select id="getPaperByIdAndUserProperty" resultMap="PaperResultMapByIdAndProperty">
	select * from PaperTest where id=#{id};
  </select> 
   <select id="getQuestionsByIdAndProperty" resultMap="QuestionResultMap">
	select PQ.id, UP.name property, PQ.description, PQ.type from PaperQuestion PQ join UserProperty UP on PQ.user_property_id=UP.id where PQ.test_id=#{id} and (UP.name=#{property} or UP.name='共性') order by PQ.id;
  </select> 
 </mapper>