<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huiyong.dao.ScoreMapper" >
  <resultMap id="ScoreResultMap" type="com.huiyong.model.Score" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="paper_id" property="paperId" jdbcType="INTEGER" />
    <result column="scorer" property="scorer" jdbcType="VARCHAR" />
    <result column="scoree" property="scoree" jdbcType="VARCHAR" />
    <result column="lastModifiedTime" property="lastModifiedTime" jdbcType="TIMESTAMP" />
    <collection property="scores" column="id" javaType="ArrayList" ofType="ScoreItemResult" select="com.huiyong.dao.ScoreItemResultMapper.getItemResultByScoreId" />
  </resultMap>
  <select id="getScoreByUser" resultMap="ScoreResultMap">
        SELECT *
        FROM PaperScore PS
    	where PS.scoree=#{username}  
        order by lastModifiedTime
        <if test="recent==true ">  
        LIMIT 1
        </if>  
        ;
  </select>
  <select id="getScoreByScorer" resultMap="ScoreResultMap">
        SELECT *
        FROM PaperScore PS
    	where PS.scoree=#{username} and PS.scorer=#{socrername}
        order by lastModifiedTime
        <if test="recent==true ">  
        LIMIT 1
        </if>  
        ;
  </select>
    <select id="getScoreByOther" resultMap="ScoreResultMap">
        SELECT *
        FROM PaperScore PS
    	where PS.scoree=#{username} and PS.scorer != #{username}
            order by lastModifiedTime
        <if test="recent==true ">  
        LIMIT 1
        </if>  
        ;
    </select>
    <insert id="addScore" parameterType="Score" useGeneratedKeys="true" keyProperty="id">  
		INSERT INTO PaperScore (scorer, scoree, lastModifiedTime, paper_id)
        VALUES
		(#{scorer}, #{scoree}, #{lastModifiedTime}, #{paperId} )
   </insert>  
 </mapper>