<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huiyong.dao.ScoreMapper" >
  <resultMap id="ScoreResultMap" type="com.huiyong.model.Score" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="paper_id" property="paperId" jdbcType="INTEGER" />
    <result column="scorer" property="scorer" jdbcType="VARCHAR" />
    <result column="scoree" property="scoree" jdbcType="VARCHAR" />
    <result column="lastModifiedTime" property="lastModifiedTime" jdbcType="TIMESTAMP" />
    <collection column="id" property="questions" javaType="ArrayList" ofType="ScoreItemResult" select="getItemResults" />
  </resultMap>
   <resultMap id="ItemResultMap" type="com.huiyong.model.ScoreItemResult" >
    <result column="score_id" property="scoreId" jdbcType="INTEGER" />
    <result column="question_id" property="questionId" jdbcType="INTEGER" />
    <result column="option_id" property="optionsId" jdbcType="INTEGER" />
  </resultMap>
  <select id="getScoreByUser" resultMap="ScoreResultMap">
        SELECT id,
               paper_id, 
               scorer,  
               scoree,  
               lastModifiedTime  
        FROM PaperScore 
    	where scoree=#{username}  
        order by lastModifiedTime
        <if test="recent=true ">  
        LIMIT 1
        </if>  
        ;
  </select>
  <select id="getScoreByScorer" resultMap="ScoreResultMap">
        SELECT id,
               paper_id, 
               scorer,  
               scoree,  
               lastModifiedTime  
        FROM PaperScore 
    	where scoree=#{username} and scorer=#{socrername}
        order by lastModifiedTime
        <if test="recent=true ">  
        LIMIT 1
        </if>  
        ;
  </select>
    <select id="getScoreByOther" resultMap="ScoreResultMap">
        SELECT id,
               paper_id, 
               scorer,  
               scoree,  
               lastModifiedTime  
        FROM PaperScore 
    	where scoree=#{username} and scorer != #{username}
            order by lastModifiedTime
        <if test="recent=true ">  
        LIMIT 1
        </if>  
        ;
  </select>
      <select id="getItemResults" resultMap="ItemResultMap">
        SELECT score_id
               question_id, 
               option_id 
        FROM PaperItemScore 
    	where score_id = #{id};
  </select>
    <insert id="addScore" parameterType="Score" useGeneratedKeys="true">  
		INSERT INTO PaperScore (scorer, scoree, lastModifiedTime, paper_id)
        VALUES
		(#{scorer}, #{scoree}, #{lastModifiedTime}, #{paper_id} )
  </insert>  
 </mapper>