<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huiyong.dao.UserMapper" >

  <resultMap id="BaseResultMap" type="com.huiyong.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="branch" property="branch" jdbcType="VARCHAR" />
    <result column="isAdmin" property="isAdmin" jdbcType="TINYINT" />
  </resultMap>
  <select id="getUserByName" parameterType="String" resultMap="BaseResultMap">
    select id, name, password, branch, isAdmin from User
    	where name=#{name}
  </select>
    <select id="getUsersInBranch" parameterType="String" resultMap="BaseResultMap">
    select id, name, password, branch, isAdmin from User
    	where branch=#{branchname}
  </select>
  <insert id="addUser" parameterType="User" useGeneratedKeys="true">  
        INSERT INTO User (name,  
                          <if test="password != null" >
        					password,
      					  </if> 
                          <if test="branch != null" >
        					branch,
      					  </if>  
                          isAdmin)  
              VALUES   (#{name},
                          <if test="password != null" >
        					#{password},
      					  </if> 
                          <if test="branch != null" >
        					#{branch},
      					  </if> 
                        #{isAdmin})      
  </insert>  
 </mapper>