<div class="newuser-container">
    <div class="login-container-body-box newuser-box">
        <div class="row login-container-form">
            <form class="form-signin" ng-submit="loginCtrl.register()">
                <div class="newuser">注册新用户</div>
                <div class="form-group row">
					<label for="username" class="col-xs-1 control-label required-column">*</label>
				    <div class="col-xs-10 ">
				      <input type="text" class="form-control login-form-control register-form" id="username" placeholder="用户名,用于登录" ng-model="loginCtrl.username" required autofocus>
				    </div>
				    <label class="col-xs-1 control-label required-column"></label>
				</div>
				<div class="form-group row">
					<label for="fullName" class="col-xs-1 control-label required-column">*</label>
				    <div class="col-xs-10 ">
				      <input type="text" class="form-control login-form-control register-form" id="fullName" placeholder="真实姓名，便于管理员识别并授权" ng-model="loginCtrl.fullName" required>
				    </div>
				    <label class="col-xs-1 control-label required-column"></label>
				</div>
				<div class="form-group row">
					<label for="inputPassword" class="col-xs-1 control-label required-column">*</label>
				    <div class="col-xs-10 ">
				      <input type="password" class="form-control login-form-control register-form" id="password" placeholder="密码" ng-model="loginCtrl.password" required>
				    </div>
				    <label class="col-xs-1 control-label required-column"></label>
				</div>
				<div class="form-group row">
					<label for="inputPassword" class="col-xs-1 control-label required-column">*</label>
				    <div class="col-xs-10 ">
				      <input type="password" class="form-control login-form-control register-form" id="password2" placeholder="确认密码" ng-model="loginCtrl.password2" required>
				    </div>
				    <label class="col-xs-1 control-label required-column"></label>
				</div>
				<div class="form-group row">
					<label for="inputPassword" class="col-xs-1 control-label required-column">*</label>
				    <div class="col-xs-10 ">
				      <input type="text" class="form-control login-form-control register-form" id="cellphone" placeholder="手机号码" ng-model="loginCtrl.cellphone" required>
				    </div>
				    <label class="col-xs-1 control-label required-column"></label>
				</div>
				<div class="form-group row">
					<label for="inputPassword" class="col-xs-1 control-label required-column">*</label>
				    <div class="col-xs-10 ">
				      <input type="email" class="form-control login-form-control register-form" id="email" placeholder="邮箱，用于找回密码" ng-model="loginCtrl.email" required>
				    </div>
				    <label class="col-xs-1 control-label required-column"></label>
				</div>
			    <div class="form-group row" style="margin-left:15px;">
					<label>
				    <input type="checkbox" value="">
				      同意协议
				    </label>
				</div>
                <button class="btn btn-lg btn-success btn-block" type="submit">注册</button>
            </form>
        </div>
    </div>
</div>
<script id="templates/register_result.html" type="text/ng-template">
	<div class="modal-body" id="modal-body-register-result" ">
		<div ng-show="registerResult.result == 'success'" class="alert text-center" role="alert">
			<i class="iconfont green icon-success"></i>注册成功
		</div>
		<div ng-show="registerResult.result != 'success'" class="alert text-center" role="alert">
			<i class="iconfont red icon-fail"></i>注册失败:{{registerResult.message}}
		</div>
	</div>
	<div class="modal-footer">
            <button ng-if="registerResult.result == 'success'" class="btn btn-success" ng-click="goLogon()" type="button">去登陆</button>
            <button class="btn btn-warning" type="button" ng-click="close()">关闭</button>
    </div>
</script>