<div class="{{lac.viewMode}}" ng-init="lac.init()">
<div class="container body">
      <div class="main_container">
        <div autoheight class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border:0;margin-top:10px;">
              <a class="site_title"><span>渭城区党员党性</span></a>
              <a class="site_title"><span>体检系统</span></a>
            </div>
            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <i class="iconfont icon-admin red"></i>
              </div>
              <div class="profile_info">
                <span>欢迎你,</span>
                <h2 ng-bind="lac.currentUser.name"></h2>
              </div>
              <div class="clearfix"></div>
            </div>
            <!-- /menu profile quick info -->
            <br />
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <ul class="nav side-menu">
                  <li ng-class="{'active':lac.activeNode=='home.organization'}" ng-click="lac.activeTreeNode('home.organization')">
                  	<a>
                  	     <i class="iconfont icon-user red"></i>支部管理
                  	     <span class="iconfont green" ng-class="{true:'icon-up',false:'icon-16'}[lac.organizationNode]"></span>
                  	</a>
                  	<ul class="nav child_menu" ng-if = "lac.organizationNode">
                  	  <li ng-class="{'current-page':lac.activeSubNode=='home.organization.create'}"><a ng-click="lac.activeSubTreeNode('home.organization.create',$event)">创建支部</a></li>
                      <li ng-repeat="branch in lac.branchlist" ng-class="{'current-page':lac.activeSubNode=='home.organization.{{branch}}'}"><a ng-click="lac.activeSubTreeNode('home.organization.queryuser',$event,branch)">{{branch}}</a></li>
                    </ul>
                  </li>
                  <li ng-class="{'active':lac.activeNode=='home.examine'}" ng-click="lac.activeTreeNode('home.examine')">
                    <a>
                         <i class="iconfont icon-user red"></i>党性体检
                         <span class="iconfont green" ng-class="{true:'icon-up',false:'icon-16'}[lac.examineNode]"></span>
                    </a>
                    <ul class="nav child_menu" ng-if = "lac.examineNode">
                      <li ng-repeat="branch in lac.branchlist" ng-class="{'current-page':lac.activeSubNode=='home.examine.{{branch}}'}"><a ng-click="lac.activeSubTreeNode('home.examine.query',$event,branch)">{{branch}}</a>
                      </li>
                    </ul>
                  </li>
                  <li ng-class="{'active':lac.activeNode=='home.query'}" ng-click="lac.activeTreeNode('home.query')">
                    <a><i class="iconfont icon-help red"></i>成绩查询</a>
                  </li>
                </ul>
              </div>
				
            </div>
            <!-- /sidebar menu -->
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle" ng-click="lac.switchViewMode()"><i class="iconfont red icon-menu"></i></a>
              </div>
              <div class="message-center" mc-messages></div>
              <ul class="nav navbar-nav navbar-right">          	
                <li class="" uib-dropdown>
                  <a class="user-profile dropdown-toggle" uib-dropdown-toggle>
                    <i class="iconfont icon-super red"></i>{{lac.currentUser.name}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right" uib-dropdown-menu role="menu">
                    <li><a ng-click="lac.changePwd()"><i class="iconfont icon-password pull-right red"></i>修改密码</a></li>
                    <li><a ng-click="lac.logout()"><i class="iconfont icon-logout pull-right red"></i>退出</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div autoheight class="right_col main-body" role="main">
			<div class="view-body" ui-view></div>
        </div>
        <!-- /page content -->
      </div>
    </div>
</div>

<!-- model area -->
<script type="text/ng-template" id="pwdModel.html">
	<div class="modal-header">
    	<h2 class="modal-title" id="modal-title">修改密码</h2>
    </div>
	<form class="form-horizontal" ng-submit="changepwd_ok()">
	<div class="modal-body" id="modal-body-changepwd" ng-show="change_success ==''">       
		<div class="alert alert-danger" role="alert" ng-if="change_error !=''">{{change_error}}</div>
  		<div class="form-group">
    		<label class="col-sm-3 control-label">新密码</label>
    		<div class="col-sm-9">
      			<input type="password" ng-model="newpwd" class="form-control" required>
    		</div>
  		</div>
  		<div class="form-group">
    		<label class="col-sm-3 control-label">确认密码</label>
    		<div class="col-sm-9">
      			<input type="password" ng-model="newpwd2" class="form-control" required>
    		</div>
  		</div>	   
	</div>
	<div class="modal-body" id="modal-body-changepwd" ng-show="change_success !=''">
		<div class="alert green text-center" role="alert"><i class="iconfont icon-success"></i>{{change_success}}</div>
	</div>
	<div class="modal-footer">
            <button class="btn btn-success" type="submit">确认</button>
            <button class="btn btn-warning" type="button" ng-click="changepwd_cancel()">取消</button>
    </div>
	</form>
</script>

<script type="text/ng-template" id="templates/confirmDeleteTemp.html">
    <div class="modal-header">
        <h2 class="modal-title" id="modal-title">确认删除{{deleteItem}}吗？</h2>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="submit" ng-click="delete_ok()">确认</button>
        <button class="btn btn-warning" type="button" ng-click="delete_cancel()">取消</button>
    </div>
</script>
