<div ng-init="umCtrl.init()">
    <div style="display:inline-block;height:40px;">用户信息</div>
</div>
<div style="display:inline-block">
    <button type="button" class="btn btn-danger btn-sm" ng-click="umCtrl.addUser()">
    	<i class="iconfont"></i>
        添加用户
    </button>
    <button type="button" class="btn btn-danger btn-sm"  ng-if="!!umCtrl.selectUser" ng-click="umCtrl.updateUser()">
        <i class="iconfont"></i>更新用户
    </button>
</div>
<div class="btn-group-right">
    <span><input type="text" ng-model="umCtrl.queryBranch" placeholder="输入部门名称"></span>
    <button type="button" class="btn btn-danger btn-sm" ng-click="umCtrl.queryUser()">
        <i class="iconfont"></i>查询
    </button>
</div>
<div class="divider"></div>

<div class="hack-header">
<div class="custom-table">
      <div style="height:40px;" class="custom-row custom-table-header-css3">
        <div class="custom-cell" style="width:30px;height:40px">
            <span></span>
         </div>
         <div class="custom-cell" style="width:100px">
            <span>ID</span>
         </div>
         <div class="custom-cell" style="width:200px">
            <span>用户名</span>
         </div>
         <div class="custom-cell" style="width:200px">
            <span>部门</span>
         </div>
         <div class="custom-cell" style="width:200px">
            <span>身份</span>
         </div>
         <div class="custom-cell">
            <span>是否管理员</span>
         </div>
      </div>
</div>
</div>
<div ng-style="umCtrl.scrollTableStyle" ng-if="umCtrl.userlist.length >0">
<div class="custom-table">
      <div style="height:40px;visibility:hidden;" class="custom-row custom-table-header-css3">
         <div class="custom-cell" style="width:30px;height:40px">
            <span></span>
         </div>
         <div class="custom-cell" style="width:100px">
            <span>ID</span>
         </div>
         <div class="custom-cell" style="width:200px">
            <span>用户名</span>
         </div>
         <div class="custom-cell" style="width:200px">
            <span>部门</span>
         </div>
         <div class="custom-cell" style="width:200px">
            <span>身份</span>
         </div>
         <div class="custom-cell">
            <span>是否管理员</span>
         </div>
      </div>
      <div class="custom-row row-hover-cyan" ng-repeat="obj in umCtrl.userlist|orderBy:'branch':true">
         <div class="custom-cell" style="width:30px;;height:40px">
            <span><input type="radio" name="selectUser" ng-click="umCtrl.selectCheck(obj)"></span>
         </div>
         <div class="custom-cell" style="width:50px">
            <span>{{obj.id}}</span>
         </div>
         <div class="custom-cell">
            <span>{{obj.name}}</span>
         </div>
         <div class="custom-cell">
            <span>{{obj.branch}}</span>
         </div>
         <div class="custom-cell">
            <span>{{obj.property}}</span>
         </div>
         <div class="custom-cell">
            <span ng-if="obj.admin">是</span>
            <span ng-if="!obj.admin">否</span>
         </div>
      </div>
</div>
</div>

<script type="text/ng-template" id="templates/userModel.html">
    <div class="modal-header">
        <h2 class="modal-title" id="modal-title">添加用户</h2>
    </div>
    <form class="form-horizontal" ng-submit="submit_user()">
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" ng-if="error !=''">{{error}}</div>
        <div class="form-group">
            <label class="col-sm-3 control-label">姓名</label>
            <div class="col-sm-9">
                <input type="text" ng-model="name" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">部门</label>
            <div class="col-sm-9">
                <input type="text" ng-model="branch" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">身份</label>
            <div class="col-sm-9">
                <label class="radio-inline" ng-repeat="p in userPropertys">
                    <input type="radio" ng-model="user.property" name="property" value="{{p}}"> {{p}}
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">管理员</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" ng-model="admin" name="admin" value="true"> 是
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="admin" name="admin" value="false" ng-checked="true"> 否
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">默认密码</label>
            <div class="col-sm-9">
                <label class="control-label">123456</label>
            </div>
        </div>     
    </div>
    <div class="modal-footer">
            <button class="btn btn-success" type="submit">确认</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
    </form>
</script>

<script type="text/ng-template" id="templates/userUpdateModel.html">
    <div class="modal-header">
        <h2 class="modal-title" id="modal-title">更新用户</h2>
    </div>
    <form class="form-horizontal" ng-submit="submit_user()">
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" ng-if="error !=''">{{error}}</div>
        <div class="form-group">
            <label class="col-sm-3 control-label">姓名</label>
            <div class="col-sm-9">
                <label class="control-label">{{user.name}}</label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">部门</label>
            <div class="col-sm-9">
                <input type="text" ng-model="user.branch" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">身份</label>
            <div class="col-sm-9">
                <label class="radio-inline" ng-repeat="p in userPropertys">
                    <input type="radio" ng-model="user.property" ng-checked="user.property==p" name="property" value="{{p}}"> {{p}}
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">重置密码</label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type="radio" ng-model="resetPwd" name="admin" value="true"> 是
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="resetPwd" name="admin" value="false" ng-checked="true"> 否
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">默认密码</label>
            <div class="col-sm-9">
                <label class="control-label">123456</label>
            </div>
        </div>     
    </div>
    <div class="modal-footer">
            <button class="btn btn-success" type="submit">确认</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
    </form>
</script>
