<div class="btn-group-right">
    <button type="button" ng-click="ecCtrl.update('organization')" class="btn btn-danger btn-sm">
        <i class="iconfont"></i>保存修改
    </button>
    <button type="button" ng-click="ecCtrl.printdiv('organization')" class="btn btn-danger btn-sm">
        <i class="iconfont"></i>打印成绩
    </button>
</div>
<div class="divider"></div>
<div id="organization">
<div class="table_area">
    <div class="table_title">
        彬州市党员党性体检组织评价得分表
    </div>
    <form class="form-horizontal">
    <div class="form-group">
        <label class="branch_label">党支部名称（盖章）:<span class="branch">{{ecCtrl.branch}}</span></label>
        <label class="branch_label" style="float:right;text-align:right">
           {{ecCtrl.now|date:'yyyy 年 MM 月 dd 日'}}
        </label>
    </div>
    </form>
    <div>
       <table class="tg">
          <tr>
            <th class="tg-yw4l" rowspan="2">序号</th>
            <th class="tg-yw4l" rowspan="2">党员姓名</th>
            <th class="tg-yw4l tg-ping"  colspan="7">评议指标(每项满分一百)</th>
            <th class="tg-yw4l" rowspan="2">总分</th>
            <th class="tg-yw4l tg-problem" rowspan="2">存在问题</th>
          </tr>
          <tr>
            <td class="tg-yw4l">政治方向</td>
		    <td class="tg-yw4l">政治领导</td>
		    <td class="tg-yw4l">政治根基</td>
		    <td class="tg-yw4l">政治生态</td>
		    <td class="tg-yw4l">政治风险</td>
		    <td class="tg-yw4l">政治本色</td>
		    <td class="tg-yw4l">政治能力</td>
          </tr>
          <tr ng-repeat="obj in ecCtrl.datalist">
            <td class="tg-yw4l">{{$index+1}}</td>
            <td class="tg-yw4l">{{obj.realName}}</td>
            <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.zhengZhiFangXiang}}" ng-model="obj.zhengZhiFangXiang"></td>
		    <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.zhengZhiLingDao}}" ng-model="obj.zhengZhiLingDao"></td>
		    <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.zhengZhiGenJi}}" ng-model="obj.zhengZhiGenJi"></td>
		    <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.zhengZhiShengTai}}" ng-model="obj.zhengZhiShengTai"></td>
		    <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.zhengZhiFengXian}}" ng-model="obj.zhengZhiFengXian"></td>
		    <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.zhengZhiBenSe}}" ng-model="obj.zhengZhiBenSe"></td>
		    <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.zhengZhiNengLi}}" ng-model="obj.zhengZhiNengLi"></td>
            <td class="tg-yw4l" ng-bind="ecCtrl.calcTotal(obj)"></td>
            <td class="tg-yw4l tg-edit">
                <div class="edit" contenteditable ng-model="obj.problem">
                </div>
            </td>
          </tr>
        </table>
    </div>
</div>
</div>
