<div class="btn-group-right">
    <button type="button" ng-click="ecCtrl.update('self')" class="btn btn-danger btn-sm">
        <i class="iconfont"></i>保存修改
    </button>
    <button type="button" ng-click="ecCtrl.printdiv('self')" class="btn btn-danger btn-sm">
        <i class="iconfont"></i>打印成绩
    </button>
</div>
<div class="divider"></div>
<div id="self">
<div class="table_area">
    <div class="table_title">
        武功县小村镇党员党性体检自评得分表
    </div>
    <form class="form-horizontal">
    <div class="form-group">
        <label class="branch_label">党支部名称（盖章）:<span class="branch">{{ecCtrl.branch}}</span></label>
        <label class="branch_label" style="float:right;text-align:right">
           {{ecCtrl.now|date:'yyyy 年 MM 月 dd 日'}}
        </label>
    </div>
    </form>
    <div>
       <table class="tg">
          <tr>
            <th class="tg-yw4l" rowspan="2">序号</th>
            <th class="tg-yw4l" rowspan="2">党员姓名</th>
            <th class="tg-yw4l" width="40%" colspan="2">评议指标</th>
            <th class="tg-yw4l" rowspan="2">总分</th>
            <th class="tg-yw4l" rowspan="2" width="40%">存在问题</th>
          </tr>
          <tr>
            <td class="tg-yw4l">共性指标得分(网上答题得分x60%)</td>
            <td class="tg-yw4l">个性指标得分(答题得分x40%)</td>
          </tr>
          <tr ng-repeat="obj in ecCtrl.datalist">
            <td class="tg-yw4l">{{$index+1}}</td>
            <td class="tg-yw4l">{{obj.realName}}</td>
            <td class="tg-yw4l">{{obj.gongXing}}</td>
            <td class="tg-yw4l">{{obj.geXing}}</td>
            <td class="tg-yw4l" ng-bind="ecCtrl.calc(obj.gongXing,obj.geXing)"></td>
            <td class="tg-yw4l tg-edit">
                <div class="edit" contenteditable ng-model="obj.problem"></div>
            </td>
          </tr>
        </table>
    </div>
</div>
</div>
