<div class="btn-group-right">
    <button type="button" ng-click="ecCtrl.update('organization')" class="btn btn-danger btn-sm">
        <i class="iconfont"></i>保存修改
    </button>
    <button type="button" ng-click="ecCtrl.printdiv('organization')" class="btn btn-danger btn-sm">
        <i class="iconfont"></i>打印成绩
    </button>
</div>
<div class="divider"></div>
<div id="organization">
<div class="table_area">
    <div class="table_title">
        鄠邑区教育和科学技术局党员党性体检组织评价得分表
    </div>
    <form class="form-horizontal">
    <div class="form-group">
        <label class="branch_label">党支部名称（盖章）:<span class="branch">{{ecCtrl.branch}}</span></label>
        <label class="branch_label" style="float:right;text-align:right">
           {{ecCtrl.now|date:'yyyy 年 MM 月 dd 日'}}
        </label>
    </div>
    </form>
    <div>
       <table class="tg">
          <tr>
            <th class="tg-yw4l" rowspan="2">序号</th>
            <th class="tg-yw4l" rowspan="2">党员姓名</th>
            <th class="tg-yw4l tg-ping"  colspan="11">评议指标(每项满分一百)</th>
            <th class="tg-yw4l" rowspan="2">总分</th>
            <th class="tg-yw4l tg-problem" rowspan="2">存在问题</th>
          </tr>
          <tr>
            <td class="tg-yw4l">理想信念</td>
		    <td class="tg-yw4l">政治意识</td>
		    <td class="tg-yw4l">学习意识</td>
		    <td class="tg-yw4l">组织纪律</td>
		    <td class="tg-yw4l">大局意识</td>
		    <td class="tg-yw4l">工作作风</td>
		    <td class="tg-yw4l">道德品行</td>
		    <td class="tg-yw4l">生活作风</td>
		    <td class="tg-yw4l">服务意识</td>
		    <td class="tg-yw4l">履行党员义务</td>
		    <td class="tg-yw4l">先锋模范作用发挥</td>
          </tr>
          <tr ng-repeat="obj in ecCtrl.datalist">
            <td class="tg-yw4l">{{$index+1}}</td>
            <td class="tg-yw4l">{{obj.realName}}</td>
            <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.liXiangXinNian}}" ng-model="obj.liXiangXinNian"></td>
		    <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.zhengZhiYiShi}}" ng-model="obj.zhengZhiYiShi"></td>
		    <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.xueXiYiShi}}" ng-model="obj.xueXiYiShi"></td>
		    <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.zuZhiJiLv}}" ng-model="obj.zuZhiJiLv"></td>
		    <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.daJuYiShi}}" ng-model="obj.daJuYiShi"></td>
		    <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.gongZuoZuoFeng}}" ng-model="obj.gongZuoZuoFeng"></td>
		    <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.daoDePinXing}}" ng-model="obj.daoDePinXing"></td>
		    <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.shengHuoZuoFeng}}" ng-model="obj.shengHuoZuoFeng"></td>
		    <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.fuWuYiShi}}" ng-model="obj.fuWuYiShi"></td>
		    <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.lvXingDangYuanYiWu}}" ng-model="obj.lvXingDangYuanYiWu"></td>
		    <td class="tg-yw4l tg-edit"><input type="text" value="{{obj.xianFengMoFanZuoYongFaHui}}" ng-model="obj.xianFengMoFanZuoYongFaHui"></td>
            <td class="tg-yw4l" ng-bind="ecCtrl.calcTotal(obj)"></td>
            <td class="tg-yw4l tg-edit">
                <div class="edit" contenteditable ng-model="obj.problem">
                </div>
            </td>
          </tr>
        </table>
    </div>
</div>
</div>
