<div class="btn-group-right">
    <button type="button" ng-click="ecCtrl.update('summary')" class="btn btn-danger btn-sm">
        <i class="iconfont"></i>保存修改
    </button>
    <button type="button" ng-click="ecCtrl.printdiv('summary')" class="btn btn-danger btn-sm">
        <i class="iconfont"></i>打印成绩
    </button>
</div>
<div class="divider"></div>
<div id="summary">
<div class="table_area">
    <div class="table_title">
        武功县小村镇党员党性体检得分汇总表
    </div>
    <form class="form-horizontal">
    <div class="form-group">
        <label class="branch_label">党支部名称（盖章）:<span class="branch">{{ecCtrl.branch}}</span></label>
        <label class="branch_label" style="float:right;text-align:right">
           {{ecCtrl.now|date:'yyyy 年 MM 月 dd 日'}}
        </label>
    </div>
    </form>
    <div>
       <table class="tg">
          <tr>
            <th class="tg-yw4l">序号</th>
            <th class="tg-yw4l">党员姓名</th>
            <th class="tg-yw4l">个人自评(20%)</th>
            <th class="tg-yw4l">党员互评(25%)</th>
            <th class="tg-yw4l">群众评议(25%)</th>
            <th class="tg-yw4l">组织评价(30%)</th>
            <th class="tg-yw4l">总分</th>
            <th class="tg-yw4l">红线指标情况</th>
            <th class="tg-yw4l">状况评定</th>
          </tr>
          <tr ng-repeat="obj in ecCtrl.datalist">
            <td class="tg-yw4l">{{$index+1}}</td>
            <td class="tg-yw4l">{{obj.realName}}</td>
            <td class="tg-yw4l">{{obj.ziPing}}</td>
            <td class="tg-yw4l">{{obj.huPing}}</td>
            <td class="tg-yw4l">{{obj.qunZhongPing}}</td>
            <td class="tg-yw4l">{{obj.zuZhiPing}}</td>
            <td class="tg-yw4l">{{obj.total}}</td>
            <td class="tg-yw4l tg-edit">
                <!-- <select ng-model="obj.hongXian">
                    <option value="不存在" ng-selected ="obj.hongXian=='不存在' || !obj.hongXian">不存在</option>
                    <option value="存在" ng-selected ="obj.hongXian=='存在'">存在</option>
                </select> -->
                <div class="edit" contenteditable ng-model="obj.hongXian"></div>
            </td>
            <td class="tg-yw4l tg-edit">
                <select ng-model="obj.jianKang">
                    <option value="合格" ng-selected="obj.jianKang=='合格'">合格</option>
                    <option value="基本合格" ng-selected="obj.jianKang=='基本合格'">基本合格</option>
                    <option value="不合格" ng-selected="obj.jianKang=='不合格'">不合格</option>
                </select>
            </td>
          </tr>
        </table>
    </div>
    <div class="table_bottom">说明：得分在80分以上且没有红线指标情形的，评定为“党性合格”；60-80分或有1项红线指标情形的，评定为“党性基本合格”；60分以下或有2项及以上红线指标情形的，评定为“党性不合格”。</div>
</div>
</div>
