html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #E4E4E1;
 	background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
 	background-blend-mode: normal, multiply;
}

a{color:#07c160}

.main{
	width:95%;
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
}

.content {
	width: 300px;
	height:280px;
	background-color:#fff;
	border-radius:25px;
	box-shadow: 5px 12px 20px rgba(36, 37, 38, 0.13);
}

.title {
	color: #000;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	position:relative;
	top:-100px;
}
.box{
  display: -webkit-flex; /* Safari */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.user{
	position:absolute;
	top:30px;
	margin: 0 20px;
}
.box-item{
	width:35%;
	height:100px;
	line-height:100px;
	margin:20px;
	text-align:center;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 5px 12px 20px rgba(36, 37, 38, 0.13);
	border-radius:25px;
	font-weight:bold;
	font-size:20px;
}
.mytitle{
	display:block;font-weight:bold;font-size:22px;
}
.mytest{
	background-color:#fff;
	height:100vh;
	overflow-y:auto;
}
.searchbar-result{
	height:60vh;
	overflow-y:auto !important;	
}
.search-title{
	margin-bottom:8px;
	margin-top: 8px;
}
.username{
	display:block;width:100%;height:100%;padding:16px;
}
.report{
	
}
ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tab-tilte{
    width: 100%;
}
.tab-tilte li{
    float: left;
    width: 50%;
    padding: 10px 0;
    text-align: center;
    background-color:#f4f4f4;
    cursor: pointer;
}
.tab-tilte .active{
    background-color: #07c160;
    color: #fff;
}
.tab-content div{
    float: left;
    width: 25%;
    line-height: 100px;
    text-align: center;
}
.radio_type{
    width: 20px;
    height: 20px;
    appearance: none;
    position: relative;
    margin-right: 10px;
}
.radio_type:before{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #7d7d7d;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}
.radio_type:checked:before{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #07c160;
    background:#07c160;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}
.radio_type:checked:after{
    content: '';
    width: 10px;
    height:5px;
    border: 2px solid white;
    border-top: transparent;
    border-right: transparent;
    text-align: center;
    display: block;
    position: absolute;
    top: 6px;
    left:5px;
    vertical-align: middle;
    transform: rotate(-45deg);
}
.radio_type:checked+label{
    color: #07c160;
}
.question-label{
	flex-direction: column;
	align-items: flex-start !important;
}
.inline-checkbox{
	display:flex;
}
.name-tip{
	font-size:11px;
	color:#d0dada;
}
.left-align{
	flex-direction: column;
	align-items: flex-start !important;
}
